*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 120px;
}
h1,
.win h2{
    font-size: 56px;
    line-height: 66px;
    font-weight: 700;
    text-align: center;

    padding: 0 15px;
}

.start,
.start button,
.restart,
.restart button{
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;
}
.start,
.restart{
    border-radius: 35px;

    text-align: center;

    padding: 30px;
    margin: 75px 15px 0;
    gap:10px;
}
.start input {
    margin: 20px 0 10px;

    border: 0;
    outline: 0;
    font-size: 20px;
    
    width: 50px;
    text-align: center;
}
.start button,
.restart button{
    border: 0;
    border-radius: 5px;
    padding: 5px;

    cursor: pointer;
}
.game-details{
    width: 100vw;
    height: 80px;

    margin-bottom: 20px;
}
.game-details .time,
.game-details .moves{
    text-align: center;

    font-size: 20px;
}
.game {
    display: none;
    flex-wrap: wrap;
    gap: 34px;
    justify-content: center;

    padding: 0 30px;
    margin: 0 15px;
}
.card{
    width: 117px;
    height: 146px;

    position: relative;
}
.face {
    width: 100%;
    height: 100%;

    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
  }
.card img{
    width: 110px;
}
.flipped {
    transform: rotateY(180deg);
}
.win{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
}
.opacity{
    opacity: 0.9;
}
.win h2:nth-child(2){
    margin-top: 50px;
}
.restart {
    margin-top: 50px;
}
.restart button{
    margin: 15px 10px 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
}
.evenly{
    justify-content: space-evenly;
}
.green{
    background-color: #EEF9BF;
    color: #75B79E;
}
.dark-green{
    background-color: #75B79E;
    color: #EEF9BF;
}
.none{
    display: none;
}

@media (max-width: 645px) {
    h1{
        font-size: 36px;
        line-height: 42px;
    }
    .start{
        width: 320px;
        font-size: 18px;
    }
}